@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1000ms linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
  }
  
  .overlay-content {
    text-align: center;
    width: 100%;
  }
  
  #welcome-text {
      color: rgb(0, 179, 0);
      font-family: 'Source Code Pro';
  }




body {
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

div {
    border: 0px solid black;
}
#scoreboard {
    display: flex;
    justify-content: center;
}
#results {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#you, #computer {
    display: flex;
    width: 100%;
    align-items: center;
}

#you {
    justify-content: flex-end;
}

#you-score, #computer-score {
    width: 50px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#results-images {
    display: flex;
    justify-content: center;
}

#playerChoiceImage, #computerChoiceImage {
    width: 100%;
    height: 100%;
}

#playerSelection, #computerSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

#compare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 40px;
}

#computerChoiceImage {
    transform: scaleX(-1);
}

#results-div {
    display: flex;
    justify-content: center;
    height: 50px; 
}

#results-text {
    color: rgb(0, 0, 0);
}

#buttons {
    display: flex;
    flex-wrap: flex;
    min-width: 500px;
    justify-content: center;
}

.choice {
    height: 100px;
    width: 100px;
    margin: 0 20px 0 20px;
    border-radius: 20px;
    border: 0;
}
.choice:hover {
    transform: scale(1.1);
}
.choice:active {
    transform: scale(1);
}


